.header {
  padding: 30px 10px;
  text-align: center;
}

.contact_img {
  max-width: 270px;
  height: 270px;
  width: 100%;
  background-image: url(../img/my_foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border: 3px solid #fff;
  margin: 0 auto 20px;
  box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.4);
}

.contact_item {
  margin-bottom: 12px;
  display: flex;
  gap: 10px;
}

.my_contact,
.tech_skill,
.soft_skill,
.block_language {
  margin-bottom: 35px;
}

.contact_text {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  display: block;
}

.contact_link {
  font-size: 17px;
  // color: #bcbaba;
  display: block;
}

.list {
  padding-left: 24px;
}

.list_item {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  // color: #ff4000;

  // .list_item_text {
  //   color: #fff;
  // }
}

.block_language_text {
  margin-bottom: 9px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.language_text_item {
  font-size: 18px;
  // color: #bcbaba;
  font-weight: 400;
}

.title_name {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.title_specialty {
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.about_text {
  font-size: 14px;
  line-height: 17px;
  color: #5b5757;
  font-style: italic;
}

.about,
.my_project,
.work_experience {
  margin-bottom: 25px;
}

.project_list_item {
  font-size: 14px;
  line-height: 17px;
  color: #5b5757;
  margin-bottom: 9px;
}

.title_experience_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #3838ea;
}

.list_years {
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: italic;
}

.list_title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}

.list_item_title {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.list_position {
  font-size: 14px;
  font-style: italic;
}

.position_indent {
  margin-top: 3px;
  display: inline-block;
  line-height: 1.2;
}

.experience_block {
  list-style: none;
  margin: 0;
  padding: 0;
}

.experience_desc {
  margin: 10px 0 5px 14px;
  font-size: 15px;
  font-weight: 600;
}

.experience_list,
.education_block {
  margin-bottom: 23px;
}

.experience_list_desc {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #5b5757;
}

.education_text_specialty {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: italic;
  color: #0a0a0a;
}

.title_education_block {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

.small_screen {
  display: none;
}

.link_portfolio {
  font-weight: 700;
  color: #b02323;
}

.list_technologies {
  margin: 0 0 0 27px;
  font-size: 14px;
  line-height: 20px;
  color: #5b5757;
}

.project_theme {
  font-weight: 400;
  color: #5b5757;
  font-size: 15px;
}
